@keyframes stripemove {
	0% {
		left: 0;
	}
	50% {
		left: -500px;
	}
	100% {
		left: 0;
	}
}

@keyframes bodybg {
	0% {
		background: blue;
	}
	10% {
		background: darkblue;
	}
	20% {
		background: darkcyan;
	}
	30% {
		background: cyan;
	}
	40% {
		background: turquoise;
	}
	50% {
		background: darkturquoise;
	}
	60% {
		background: darkseagreen;
	}
	70% {
		background: seagreen;
	}
	80% {
		background: dodgerblue;
	}
	90% {
		background: deepskyblue;
	}
	100% {
		background: blue;
	}
}

body {
	background: blue;
	margin: 0;
	padding: 0;
	animation: bodybg 180s infinite;
	cursor: default;
	user-select: none;
}

.stripe {
	position: fixed;
	opacity: 0.8;
	color: yellow;
	white-space: nowrap;
	font-size: 2em;
	animation: stripemove 60s infinite;
	transition: left;
}

.stripe-reverse {
	animation-delay: -30s;
}

.content {
	background-color: rgba(0,0,0,0.3);
	font-size: 3em;
	color: white;
	border-radius: 2px;
	width: 100%;
	height: calc(100% - 200px);
	top: 100px;
	position: absolute;
	box-shadow: 0 0 40px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courgette', cursive;
}

@keyframes contentText {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.content-text {
	font-size: 30px;
	opacity: 1;
	transition: opacity 3s;
	animation: contentText 3s;
	position: relative;
	z-index: 1;
}

@keyframes guthrie {
	0% {
		transform: scale3d(0.9, 0.92, 1);
	}
	50% {
		transform: scale3d(0.92, 0.98, 0.9);
	}
	100% {
		transform: scale3d(0.9, 0.92, 1);
	}
}

@keyframes guthrieDead {
	0% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(-10px);
	}
}

.guthrie {
	opacity: 0;
	cursor: pointer;
	animation: guthrie 1s infinite;
    width: 70px;
    text-align: center;
    transition: opacity 1s, width 1s, font-size 300ms;
    writing-mode: vertical-lr;
}

.guthrie-hiding {
    overflow: hidden;
	white-space: nowrap;
}

.guthrie-voice {
	position: absolute;
	right: 0;
	top: -20px;
	font-size: 15px;
	white-space: nowrap;
	writing-mode: horizontal-tb;
}

.guthrie-yell .guthrie-voice {
	font-size: 25px;
}

.guthrie-closeup {
	font-size: 300px;
}

.guthrie-dead {
	background-color: red;
	animation: none;
}

.guthrie-dead .guthrie {
	animation: guthrieDead 100ms 5;
	text-decoration: line-through;
	color: #DFF;
}

.guthrie-falling {
	animation: none;
	transition: transform 2s cubic-bezier(0.93, 0.13, 1, 0.83);
    transform: translateY(320px) rotateZ(-90deg);
    transition-delay: 1s;
}

.guthrie-closeup .guthrie-voice {
	font-size: 50px;
}

.waves-word {
	color: red;
}

@keyframes wavesWord {
	0% {
		color: white;
		opacity: 1;
	}
	50% {
		color: red;
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		color: red;
		opacity: 0;
	}
}

@keyframes nonFramesWord {
	0% {
		opacity: 1;
		max-width: 200px;
	}
	100% {
		opacity: 0;
		max-width: 0;
	}
}

.waves-word {
	opacity: 0;
	color: red;
	transition: color 2s;
	animation: wavesWord 2s;
}

.non-waves-word {
	display: inline-block;
	opacity: 0;
	max-width: 0;
	transition: opacity 2s, max-width 2s;
	animation: nonFramesWord 2s;
}

.food {
	cursor: pointer;
}

.tomb {
	font-size: 50px;
	color: white;
	cursor: pointer;
	position: relative;
}

.tomb:hover:after {
	content: "Restart";
	color: white;
	position: absolute;
	font-size: 30px;
}

.bar {
	font-size: 300px;
	font-weight: bold;
	position: fixed;
	top: 20%;
	left: 60%;
	animation: guthrieDead 100ms 5;
}

@keyframes shake {
	0% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(0);	
	}
	100% {
		transform: translateX(2px);
	}
}

.guthrie-saved {
	background: darkred;
	animation: none;
}

.guthrie-saved .guthrie {
	animation: shake 100ms infinite;
}

.eye {
	position: absolute;
	width: 25%;
	height: 20%;
	background: rgba(255, 128, 128, 0.8);
    border-radius: 0% 400%;
    box-shadow: 0 0 20px red;
    top: 40%;
    left: 20%;
}

.right-eye {
	right: 20%;
	left: initial;
	transform: rotateX(180deg);
}

.black {
	background: black;
	animation: none;
}

.black .stripe,
.black .eye,
.guthrie-hidden {
	display: none;
}

.eye-reappearing {
	display: block !important;
	opacity: 1;
	animation: contentText 60s;
}

.exit {
	width: 30px;
	height: 30px;
	box-shadow: 0 0 10px #FFF;
	background: #FFF;
	position: absolute;
	top: 20%;
	left: 20%;
	border-radius: 5000px;
	transition: transform 5s;
	cursor: pointer;
}

.exit-expand {
    transform: scale3d(200,200,2);
}

.end-message {
	position: absolute;
	right: 20%;
	bottom: 20%;
	color: black;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}