.ppl {
	width: 488px;
	height: 637px;
	background: url("../img/pll3.png");
	position: fixed;
	top: 0;
	left: 0;
}

.ppl_arm {
	width: 208px;
	height: 227px;
	background: url("../img/pll_arm3.png");
	position: absolute;
	left: 263px;
	top: 273px;
	animation: arm 700ms infinite;
}

@keyframes arm {
	0% {
		transform: rotateZ(-30deg);
	}
	50% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-30deg);
	}
}